@import url('base.css');
/* 最上部开始 */

.bestTop {
	width: 960px;
	height: 150px;
	/* background-color: skyblue; */
	margin: 0 auto;
	/* overflow: hidden; */
}

.topLogo {
	width: 177px;
	height: 54px;
	/* background-color: darkgreen; */
	margin-top: 28px;
	background: url('../img/logo.jpg') no-repeat center/contain;
	float: left;
}

.top_top {
	width: 707px;
	height: 50px;
	/* background-color: seagreen; */
	float: right;
}

.Home_page {
	width: 144.69px;
	height: 20px;
	/* background-color: blue; */
	float: right;
	margin-top: 30px;
}

.Home_page span {
	color: #a41f24;
	font-size: 12px;
	margin: 4px;
	font-weight: bolder;
}

.Home_page span:nth-child(1):hover {
	color: black;
	cursor: pointer;
}

.Home_page span:nth-child(3):hover {
	color: black;
	cursor: pointer;
}

.top_air {
	width: 90.03px;
	height: 20px;
	/* background-color: yellow; */
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 30px 8px 0;
}

.top_air span {
	width: 3.22px;
	height: 16px;
	margin: 0 2px;
	font-size: 12px;
}

.top_date {
	width: 99.2px;
	height: 20px;
	/* background-color: lightyellow; */
	float: right;
	margin-top: 30px;
}

.top_date span {
	font-size: 12px;
	color: #595757;
	display: block;
	margin-top: 4px;
}

.topsearch {
	width: 192px;
	height: 20px;
	background-color: lightyellow;
	float: right;
	margin: 15px 5px 0 0;
}

.topinput {
	width: 160px;
	height: 18px;
	line-height: 18px;
	border: 0px;
	/* background: url(../img/css_pic.png) no-repeat -150px -239px; */
	padding: 0 5px;
	float: left;
	margin: 0;
	border: 1px solid #B5B5B6;
}

.magnifying {
	width: 20px;
	height: 20px;
	/* margin-left: 1px; */
	background-color: black;
	float: right;
	cursor: pointer;
}

.iconfont {
	width: 20px;
	height: 20px;
	color: white;
	margin: 1px;
}

.topmenu {
	height: 30px;
	display: block;
	width: 950px;
	margin: 30px 5px 5px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	float: left;
	clear: both;
	background-color: #A41F24;
	position: relative;
}

.topmenu li {
	width: 120px;
	height: 30px;
	/* overflow: hidden; */
	/* background-color:green; */
	float: left;
	/* margin-right: 5px; */
	border-right: 2px solid white;
	position: relative;
}

.disappear {
	width: 120px;
	height: 0px;
	background-color: C9161D;
	/* margin-right: 5px; */
	/* border-right: 2px solid white; */
	position: absolute;
	left: 0px;
	top:0;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	/* transition: all .5s linear； */
	color: white;
}

.topmenu li:nth-child(1):hover .disappear {
	bottom: 0;
	opacity: 1;
	background-color: #C9161D;
	transition: all .2s linear;
}

.topmenu li:nth-child(2):hover .disappear {
	bottom: 0;
	opacity: 1;
	background-color: #C9161D;
	transition: all .2s linear;
}

.topmenu li:nth-child(3):hover .disappear {
	bottom: 0;
	opacity: 1;
	background-color: #C9161D;
	transition: all .2s linear;
}

.topmenu li:nth-child(4):hover .disappear {
	bottom: 0;
	opacity: 1;
	background-color: #C9161D;
	transition: all .2s linear;
}

.topmenu li:nth-child(5):hover .disappear {
	bottom: 0;
	opacity: 1;
	background-color: #C9161D;
	transition: all .2s linear;
}

.topmenu span {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	line-height: 30px;
	text-align: center;
	display: block;
	
}
/* //更改1
.topmenu span {
	
	

} */

.jieshaoDown {
	width: 227px;
	height: 0px;
	position: absolute;
	left: 0;
    bottom: -127px;
    
	background-color: #FDEBDC;
	z-index:20;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	opacity: 0.8;
	overflow: hidden;
}
.jieshaoDown_con{
	width: 227px;
	height: 28px;
	/* background-color: blue;FDEBDC */
	line-height: 28px;
	font-size: 12px;
	color: black;
	padding-left: 20px;
	box-sizing: border-box;	
}

/* 最上部结束 */

/*当前位置开始*/
.current_position{
    width: 950px;
    height: 30px;
    /*background-color: #B7B7B7;*/
    margin: 5px auto;
}
.current_position h1{
    color: #a41f24;
    font-size: 12px;
    line-height: 30px;
}
/*当前位置结束*/

/*列表开始*/
.list{
    width: 950px;
    height: 646px;
    /*background-color: darkturquoise;*/
    margin: 0 auto;
}
.list_left{
    width: 710px;
    height: 646px;
    /*background-color: blueviolet;*/
    float: left;
    position: relative;
}
.list_left li{

}
.list_date{
    color: #DBDBDB;
}
.circle{
    width: 7px;
    height: 7px;
    background-color: black;
    clear: both;
    float: left;
    border-radius: 50%;
    margin-top: 23px;
    margin-left: 10px;
}
.outspan{
    width: 652px;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 14px;
    color: #595757;
    padding-bottom: 15px;
    border-bottom: #d7d7d7 dashed 1px;
    line-height: 22px;
    float: left;
    display: flex;
    justify-content: space-between;
}
.anoColor{
    color: #595757;
}
.anoColor:hover{
    color: #a41f24;
}
.the_new{
    width: 230px;
    height: 159px;
    background-color: #95C653;
    float: right;
    margin: 5px;
    position: relative;
    overflow: hidden;
}
.new_title{
    width: 220px;
    height: 30px;
    background-color: #95C653;
    margin-left: 10px;
}
.new_title h1{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 30px;
    float: left;
}
.new_pic{
    width: 230px;
    height: 129px;
    position: absolute;
    bottom: 0;
    left: 230px;
    /* right: 0; */
}
.one_two{
    width: 92px;
    height: 20px;
    /*background-color: cornsilk;*/
    position: absolute;
    right: 10px;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.the_box{
    width: 18px;
    /*height: 18px;*/
    background-color: rgba(153,153,153,.8);
}
.the_box h2{
    line-height: 18px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid rgba(153,153,153,.6);

}
.hot{
    background-color: #a41f24;
    border: 1px solid red;

}
.consulting{
    width: 230px;
    height: 270px;
    background-color:#4CA9D0;
    float: right;
    margin: 5px;
}
.consulting_title{

    background-color: #4CA9D0;
}
.consulting_pic{
    width: 230px;
    height: 172px;
    background-color: chocolate;
}
.consulting_pic img{
    width: 230px;
    height: 172px;
}
.movie_name{
    width: 220px;
    height: 55px;
    margin-top: 10px;
    margin-left: 10px;
    /*background-color: #95C653;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.movie_name h1{
    font-size: 12px;
    color: white;
    font-weight: normal;
}
.movie_name img{
    width: 150px;
    align-self: flex-end;
}
.movie_name h1:hover{
    color: black;
}
/*页码开始*/
.last_page{
    width: 710px;
    height: 24px;
    /*background-color: darkorange;*/
    float: left;
    margin: 10px 0;
    position: absolute;
    bottom: 0;
}
.page_number{
    width: 450px;
    height: 24px;
    /*background-color: darkturquoise;*/
    margin: 0 auto;
}
.page_top{
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #d7d7d7;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    float: left;
    cursor: pointer;
}
.page_1{
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background: #C9161D;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
    float: left;
}
.other_page{
    background-color: #D7D7D7;
}
.other_page:hover{
    background-color: red;
}
.page_top:hover{
    background-color: red;
}
/*页码结束*/
/*列表结束*/
/* 末尾开始 */
.end{
    width: 940px;
    height: 76px;
    /* background-color: darkgreen; */
    margin: 0 auto;
    padding: 5px;
    position: relative;
}
.end_center{
    width: 940px;
    height: 60px;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 2px solid #C9161D;
    display: flex;
    justify-content: space-between;
}
.end_center span{
    line-height: 22px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* float: left; */
    font-size: 12px;
    color: #595757;

}
.about{
    width: 210px;
    height: 22px;
    /* background-color: lightyellow; */
    align-self: flex-end;
}
.about h1{
    font-size: 12px;
    color: #595757;
    margin: 0 5px;
    line-height: 22px;
    float: right;
}
.about h2{
    font-size: 12px;
    color: #595757;
    margin: 0px;
    line-height: 22px;
    float: right;
}
.about h1:hover{
    color: black;
}
/* 末尾结束 */